<!-- src/main/resources/templates/fragments/footer.html -->
<div th:fragment="footer">
    <div id="footer">
        <div class="footer-content">
            <div class="footer-column">
                <h3>Contacto</h3>
                <p>Email: info@healthpochiteam.com</p>
                <p>Teléfono: +34 666 333 222</p>
            </div>
            <div class="footer-column">
                <h3>Dirección</h3>
                <p>Calle Ejemplo, 123, Vigo</p>
                <div class="social-media">
                    <a href="#"><img alt="Facebook" th:src="@{/iconos/facebook.png}"></a>
                    <a href="#"><img alt="Twitter" th:src="@{/iconos/twitter.png}"></a>
                    <a href="#"><img alt="Instagram" th:src="@{/iconos/instagram.png}"></a>
                </div>
            </div>
        </div>
    </div>
</div>