<div class="container py-3" th:fragment="infoMedicamentoFragment">

    <h2 class="text-center text-primary fw-bold" id="card-medicamento-title" th:text="${medicamento.nombre}"></h2>
    <p class="text-muted text-center" id="card-medicamento-description" th:text="${medicamento.descripcion}"></p>
    <p class="text-muted text-center" id="card-medicamento-price" th:text="${medicamento.precio} + '$'"></p>
    <!--<p th:if="${medicamento.recetable}" class="text-primary text-center fw-bold">(Recetable)</p>-->

    <!-- Enfermedades -->
    <h3 style="margin-top: 20px">Enfermedades que trata este medicamento:</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" th:each="enfermedad : ${enfermedades}">
            <a style="text-decoration: none;" th:href="@{/enfermedades/{id}(id=${enfermedad.id})}">
                <nav th:replace="fragments/infoEnfermedad :: cartaEnfermedad"></nav>
            </a>
        </div>
    </div>

</div>

<div class="container py-3" th:fragment="cartaMedicamento">

    <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h3 style="text-align: center" class="card-title text-primary" th:text="${medicamento.nombre}"></h3>
                        <p style="text-align: center" class="fw-bold text-success">Precio: <span th:text="${medicamento.precio}"></span>$</p>
                        <p style="text-align: center" class="text-danger" th:if="${medicamento.receta}">(Requiere receta)</p>
                    </div>
                </div>

</div>