<div class="container py-3" th:fragment="infoMedicamentoFragment">

    <h2 class="text-center text-primary fw-bold" id="card-medicamento-title" th:text="${medicamento.nombre}"></h2>
    <p class="text-muted text-center" id="card-medicamento-description" th:text="${medicamento.descripcion}"></p>
    <p class="text-muted text-center" id="card-medicamento-price" th:text="${medicamento.precio}"></p>
    <!--<p th:if="${medicamento.recetable}" class="text-primary text-center fw-bold">(Recetable)</p>-->

    <!-- Enfermedades -->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col" th:each="enfermedad : ${enfermedades}">
            <a style="text-decoration: none;" th:href="@{/enfermedades/{id}(id=${enfermedad.id})}">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h3 class="text-center text-primary fw-bold" id="card-enfermedad-title"
                            th:text="${enfermedad.nombre}"></h3>
                        <p class="text-muted text-center" id="card-enfermedad-text"
                           th:text="${enfermedad.descripcion}"></p>
                        <p class="text-center fw-bold" id="peligrosidad">
                            <span class="text-danger" th:if="${enfermedad.peligrosidad} >= 8">🔴 Alta</span>
                            <span class="text-warning"
                                  th:if="${enfermedad.peligrosidad} >= 6 and ${enfermedad.peligrosidad} < 8">🟠 Media-Alta</span>
                            <span class="text-warning"
                                  th:if="${enfermedad.peligrosidad} >= 4 and ${enfermedad.peligrosidad} < 6">🟡 Media</span>
                            <span class="text-success"
                                  th:if="${enfermedad.peligrosidad} >= 1 and ${enfermedad.peligrosidad} < 4">🟢 Baja</span>
                        </p>
                        <p class="text-primary text-center fw-bold" th:if="${enfermedad.contagiable}">(Contagiable)</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>