<div th:fragment="menu">
    <div class="menu">
        <a href="/">Menu Principal</a>
        <a href="/pacientes">Pacientes</a>
        <a href="/enfermedades">Enfermedades</a>
        <a href="/medicamentos">Medicamentos</a>

        <!-- Si el usuario está logueado se muestran las acciones -->
        <div th:if="${usuarioLogeado}" class="user-actions">
                <img src="/iconos/acceso.png" alt="muñeco" width="37px" height="37px" style="margin-right: 5px"/>
            <div class="user-name">
                <p style="margin-bottom: 0"><span th:text="${usuario.nombre}">Usuario</span></p>
                <!-- Menú desplegable de opciones al pasar el ratón -->
                <div class="dropdown-menu">
                    <!-- Mostrar el enlace de Gestión solo si el usuario es admin -->
                    <div th:if="${usuario.admin}">
                        <a id="gestionar" href="/administrarUsuarios">Gestionar</a>
                    </div>
                    <div>
                        <a id="logout" href="/logout">LogOut</a>
                    </div>
                    <div th:if="${usuario.admin}">
                        <a id="gestionarPaciente" href="/logout">LogOut</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Si el usuario no está logueado se muestra el login -->
        <div class="user-actions" th:unless="${usuarioLogeado}">
            <img src="/iconos/acceso.png" alt="muñeco" width="37px" height="37px" style="margin-right: 5px"/>
            <a href="/login">Login</a>
        </div>
    </div>
</div>