<div th:fragment="menu">
    <div class="menu">
        <a href="/">Menu Principal</a>
        <a href="/pacientes">Pacientes</a>
        <a href="/enfermedades">Enfermedades</a>
        <a href="/medicamentos">Medicamentos</a>

        <!-- Si el usuario está logueado se muestran las acciones -->
        <div class="user-actions" th:if="${usuarioLogeado}">
            <img alt="muñeco" height="37px" src="/iconos/acceso.png" style="margin-right: 5px" width="37px"/>
            <div class="user-name">
                <p style="margin-bottom: 0"><span th:text="${usuario.nombre}">Usuario</span></p>
                <!-- Menú desplegable de opciones al pasar el ratón -->
                <div class="dropdown-menu">
                    <!-- Mostrar el enlace de Gestión solo si el usuario es admin -->
                    <div th:if="${usuario.admin}">
                        <a href="/administrarUsuarios" id="gestionar">Gestionar</a>
                    </div>
                    <div th:if="${usuario.isPaciente()}">
                        <a id="gestionarPaciente" th:href="@{pacientes/gestionarPaciente/{id}(id=${usuario.id})}">Paciente</a>
                    </div>
                    <div>
                        <a href="/logout" id="logout">LogOut</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Si el usuario no está logueado se muestra el login -->
        <div class="user-actions" th:unless="${usuarioLogeado}">
            <img alt="muñeco" height="37px" src="/iconos/acceso.png" style="margin-right: 5px" width="37px"/>
            <a href="/login">Login</a>
        </div>
    </div>
</div>