body {
    background: #cdeef4;
    margin: 0;
    font-family: Arial, sans-serif;
}

#contenedorPrincipal {
    width: 90%;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.progress-container {
    text-align: center;
    width: 300px;
    padding-left: 0;
    padding-right: 0;
    background-color: #f3f3f3;
    border-radius: 25px;
    border-color: black;
    border-style: solid;
    overflow: hidden;
}

.progress-bar {
    height: 30px;
    background-color: #4caf50;
    width: 0;
    transition: width 0.5s;
}

/* Estilos generales del menú */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a02855;
    padding: 10px;
    margin-bottom: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #831f41;
}

#content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}


#cabezera h1 {
    display: inline;
}

/* Estilo para la barra de menú */
.user-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.user-name {
    position: relative;
    cursor: pointer;
    padding: 2px 2px; /* Ajuste del padding para mayor espacio */
    background-color: #a02855;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin-bottom: 0px;

}

.user-name:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    width: 200px;
}

.dropdown-menu a {
    display: block;
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#logout {
    color: #d9534f;
}

.dropdown-menu a:hover {
    background-color: #0056b3;
    color: white;
}

/* Estilo para el enlace de LogOut */
#logout-content {
    color: #d9534f;
}

#logout-content:hover {
    background-color: #c9302c;
    border-color: #c9302c;
}


/*PACIENTES*/
.paciente-container {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

.imagen-paciente {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
    margin-right: 15px;
}

#datos-paciente {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
}

#datos-paciente .tipo-dato {
    display: flex;
    align-items: center;
}

#datos-paciente .tipo-dato strong {
    margin-right: 5px;
}


/*Enfermedades*/
#contenedorEnfermedades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
}

.card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    width: 100%;
    transition: transform 0.2s;
}

.card.enfermedades:hover {
    transform: scale(1.05);
}

#card-enfermedad-title {
    font-size: 24px;
    font-weight: bold;
    color: #a02855;
    margin-bottom: 15px;
}

#card-enfermedad-text {
    font-size: 16px;
    color: #333;
    flex-grow: 1;
    margin-bottom: 10px;
}

#peligrosidad {
    font-weight: bold;
    font-size: 18px;
    margin-top: auto;
}

#delete_button {
    margin-left: auto;
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    width: auto;
    min-width: 100px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;
}

#delete_button:hover {
    background-color: #cc0000;
}


#footer {
    background-color: #333;
    color: #eee;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-column {
    flex: 1;
    text-align: left;
    padding: 0 20px;
}

.footer-column h3 {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-column p {
    margin-bottom: 5px;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}

/*Menu Principal*/
#content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

#text {
    flex: 1 1 50%;
    max-width: 600px;
    text-align: justify;
}

#image img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.content-section {
    padding: 40px;
    text-align: justify;
}

.content-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

/*LOGIN Y REGISTRO */

.vh-100 {
    background: #cdeef4;
}

.table {

    caption-side: top;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

caption {
    text-align: center;
}

.tabla {
    margin-top: 10px;
    padding: 10px;

}

.tabla th {
    text-align: center;
}

.texto {
    text-align: center;
}

.numero {
    text-align: end;
}

.tablaObjetivo {
    width: 450px;
}

.tablaDonacion {
    padding: 30px;
    width: 300px;
}