<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Health PochiTeam - Gestionar Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/Styles.css?v=1}">
</head>

<body>
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-8">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-12 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <div class="text-center mb-3">
                                    <h2 class="fw-bold">Gestionar usuarios</h2>
                                </div>

                                <div class="mb-4" th:each="usuario : ${usuarios}">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <p><strong>Nombre:</strong> <span th:text="${usuario.getNombre()}"></span>
                                            </p>
                                            <p><strong>Email:</strong> <span th:text="${usuario.getEmail()}"></span></p>

                                            <form method="post" th:action="@{usuarios/{id}/admin(id=${usuario.id})}">
                                                <label class="form-check-label">Es Admin
                                                    <input class="form-check-input" name="admin"
                                                           onchange="this.form.submit()"
                                                           th:checked="${usuario.admin}" type="checkbox">
                                                </label>
                                            </form>

                                            <form method="post" th:action="@{usuarios/{id}/block(id=${usuario.id})}">
                                                <label class="form-check-label">Está Bloqueado
                                                    <input class="form-check-input" name="block"
                                                           onchange="this.form.submit()"
                                                           th:checked="${usuario.isBloqueado}"
                                                           type="checkbox">
                                                </label>
                                            </form>
                                            <div class="mb-3">
                                                <label class="form-label" for="paciente">Paciente</label>
                                                <form method="post"
                                                      th:action="@{usuarios/{id}/asignarPaciente(id=${usuario.id})}">
                                                    <select class="form-control" id="paciente" name="pacienteId">
                                                        <option th:text="'Usuario sin Paciente'" th:value="0"
                                                                th:selected="${usuario.paciente == null}"/>

                                                        <option th:if="${usuario.isPaciente()}"
                                                                th:text="${usuario.paciente.nombre}"
                                                                th:value="usuario.paciente.id"
                                                                th:selected="${usuario.isPaciente()}"/>

                                                        <option th:each="paciente : ${pacientes}"
                                                                th:text="${paciente.nombre}"
                                                                th:value="${paciente.id}"/>
                                                    </select>
                                                    <button type="submit" class="btn btn-primary mt-2">Asignar
                                                        Paciente
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <a class="btn btn-outline-dark btn-lg" href="/">Volver al Menú Principal</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>