<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health PochiTeam</title>
        <link rel="stylesheet" href="/css/StylesPaciente.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    </head>
    <body>
        <div id="contenedorPrincipal" class="container text-center">

            <div id="cabezera">
                <h1>Enfermedades</h1>
                <form action="/login" method="post">
                    <input type="text" name="email" placeholder="email" required>
                    <input type="password" name="password" placeholder="contraseña" required>
                    <button type="submit">Validar</button>
                </form>
            </div>

            <div id="menu">
                <a href="/">Menu Principal</a>
                <a href="#">Pacientes</a>
                <a href="/enfermedades">Enfermedades</a>
                <a href="#">Medicamentos</a>
            </div>

            <h2>Bienvenidos a la pagina de enfermedades</h2>

            <div id="content" class="container mt-4">
                <div class="row row-cols-1 row-cols-md-2 g-4 equal-height">
                    <div th:each="enfermedad : ${enfermedades}" class="col">
                        <div class="card p-3">
                            <h3 th:text="${enfermedad.nombre}" class="card-title"></h3>
                            <p th:text="${enfermedad.descripcion}" class="card-text"></p>
                            <p>
                                <span th:if="${enfermedad.peligrosidad} &gt;= 8" style="color: red;">🔴</span>
                                <span th:if="${enfermedad.peligrosidad} &gt;= 6 and ${enfermedad.peligrosidad} &lt; 8" style="color: orange;">🟠</span>
                                <span th:if="${enfermedad.peligrosidad} &gt;= 4 and ${enfermedad.peligrosidad} &lt; 6" style="color: yellow;">🟡</span>
                                <span th:if="${enfermedad.peligrosidad} &gt;= 1 and ${enfermedad.peligrosidad} &lt; 4" style="color: green;">🟢</span>
                            </p>
                            <p th:if="${enfermedad.contagiable}">(C)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="footer">
                <p>Pie de página de enfermedades</p>
            </div>

        </div>
    </body>
</html>