<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Health PochiTeam</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/Styles.css?v=1}">
</head>
<body>
<div id="contenedorPrincipal">
    <div th:replace="fragments/menu :: menu"></div>
    <div id="cabezera">
        <h1 style="display: inline">Enfermedades</h1>
        <div style="display: inline-block; float: right;" th:if="${usuarioLogeado}">
            <div th:if="${usuario.isAdmin()}">
                <a th:href="@{/enfermedades/editar/{id}(id=${enfermedad.id})}">
                    <button style="display: inline-block; float: right;">Modificar</button>
                </a>
                <form th:action="@{/enfermedades/eliminar/{id}(id=${enfermedad.id})}" method="post" style="display: inline-block; float: right;">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <button type="submit">Eliminar</button>
                </form>
            </div>
        </div>
    </div>

    <div id="contenedorEnfermedades" th:object="${enfermedad}">
        <div th:replace="fragments/infoEnfermedad :: infoEnfermedadFragment"></div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>