<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health PochiTeam</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/StylesPacientes.css?v=1}">
</head>
<body>
<div id="contenedorPrincipal">
    <div th:replace="fragments/menu :: menu"></div>
    <div id="cabezera">
        <h1>Enfermedades</h1>
    </div>

        <div id="contenedorEnfermedades" class="container mt-4" th:object="${enfermedad}">
            <h2 th:text="${enfermedad.nombre}" id="card-enfermedad-title"></h2>
            <p th:text="${enfermedad.descripcion}" id="card-enfermedad-text"></p>
            <p id="peligrosidad">
                <span th:if="${enfermedad.peligrosidad} >= 8" style="color: red;">🔴 Alta</span>
                <span th:if="${enfermedad.peligrosidad} >= 6 and ${enfermedad.peligrosidad} < 8"
                      style="color: orange;">🟠 Media-Alta</span>
                <span th:if="${enfermedad.peligrosidad} >= 4 and ${enfermedad.peligrosidad} < 6"
                      style="color: yellow;">🟡 Media</span>
                <span th:if="${enfermedad.peligrosidad} >= 1 and ${enfermedad.peligrosidad} < 4"
                      style="color: green;">🟢 Baja</span>
            </p>
            <p th:if="${enfermedad.contagiable}" style="color: blue; font-weight: bold;">
                (Contagiable)</p>
        </div>

</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>