<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health PochiTeam</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/StylesPacientes.css?v=1}">
</head>
<body>
<div id="contenedorPrincipal">
    <div id="cabezera">
        <h1>Medicamentos</h1>
        <div th:replace="fragments/header :: header"></div>
    </div>
    <div th:replace="fragments/menu :: menu"></div>


    <h2>Bienvenidos a la pagina de Medicamentos</h2>


    <div id="content" class="container mt-4" style="margin-bottom: 20px">

        <div th:if="${usuarioLogeado}">
            <div th:if="${usuario.isAdmin()}">
                <div class="row row-cols-md-3 g-4">
                    <div th:each="medicamento : ${medicamentos}" class="col">
                        <div class="card p-3">
                            <div class="row justify-content-between">
                                <div class="col">
                                    <h3 th:text="${medicamento.nombre}" class="card-title"></h3>
                                </div>
                                <div class="col">
                                    <button>Eliminar</button>
                                </div>
                            </div>
                            <p th:text="${medicamento.descripcion}" class="card-text"></p>
                            <p th:text="${medicamento.precio}"></p>
                            <p th:if="${medicamento.receta}">(R)</p>
                        </div>
                    </div>
            </div>
        </div>
        <div th:unless="${usuario.isAdmin()}">
            <div th:replace="fragments/infoMedicamento :: infoMedicamento"></div>
        </div>
    </div>
    <div th:unless="${usuarioLogeado}">
        <div th:replace="fragments/infoMedicamento :: infoMedicamento"></div>
    </div>


</div>
<div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>