<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health PochiTeam</title>
  <link rel="stylesheet" href="/static/css/StylesPaciente.css">
</head>
<body>
<div class="contenedorPrincipal">
  <div class="cabezera">
    <h1>Menu Principal</h1>
    <a href="/login">Login</a>
  </div>
  <div class="menu">
    <div id=""><a href="#">Menu Principal</a></div>
    <a href="#">Pacientes</a>
    <a href="#">Enfermedades</a>
    <a href="#">Medicamentos</a>
  </div>
  <h2>Bienvenidos al menu principal de nuestra aplicacion</h2>
  <div class="content">
    <div class="text">
      <p>Mucho textoooooooooooooooooooooooooooooooooooooooooooooooooooooooooo</p>
    </div>
    <div class="image">
      <img src="doctor.jpg" alt="Médico y pacientes">
    </div>
  </div>
  <div class="footer">
    AQUI VA LO QUE QUERAIS PONER DE PIE POR EJEMPLO
  </div>
</div>
</body>
</html>