<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health PochiTeam</title>
    <link rel="stylesheet" th:href="@{/css/StylesPacientes.css?v=1}">
</head>
<body>
<div id="contenedorPrincipal">
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/menu :: menu"></div>

    <h2>Bienvenidos al menu principal de nuestra aplicacion</h2>
    <div id="content">
        <div id="text">
            <p>Mucho textoooooooooooooooooooooooooooooooooooooooooooooooooooooooooo</p>
        </div>
        <div id="image">
            <img src="doctor.jpg" alt="Médico y pacientes">
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>