<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health PochiTeam</title>
    <link rel="stylesheet" href="/css/StylesPacientes.css">
</head>
<body>
<div class="contenedorPrincipal">
    <div class="cabezera">
        <h1>Pacientes</h1>
        <div th:if="${usuarioLogeado}">
            <p>Bienvenido, <span th:text="${usuario.nombre}">Usuario</span>!</p>
            <a href="login">LogOut</a>
        </div>
        <div th:if="${!usuarioLogeado}">
            <a href="/login">Login</a>
        </div>
    </div>
    <div id="menu">
        <div id=""><a href="/">Menu Principal</a></div>
        <a href="/pacientes">Pacientes</a>
        <a href="/enfermedades">Enfermedades</a>
        <a href="#">Medicamentos</a>
    </div>

    <h2>Bienvenidos a la página de pacientes</h2>

    <div id="content" class="container">
        <div id="paciente-container" th:each="paciente : ${pacientes}">
            <img id="imagen-paciente" th:src="${paciente.imagen}" alt="Imagen de paciente">
            <div id="datos-paciente">
                <p th:text="${paciente.nombre}"></p>
                <p th:text="${paciente.edad}"></p>
                <p th:text="${paciente.enfermedad.nombre}"></p>
            </div>
        </div>
    </div>


    <div id="footer">
        AQUI VA LO QUE QUERAIS PONER DE PIE POR EJEMPLO
    </div>
</div>

</body>
</html>
