<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health PochiTeam</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/Styles.css?v=1}">
</head>
<body>
<div id="contenedorPrincipal">

    <div th:replace="fragments/menu :: menu"></div>
    <div id="cabezera">
        <h1>Pacientes</h1>
    </div>

    <div th:if="${usuarioLogeado}">
        <div th:if="${usuario.isAdmin()}">
            <div class="paciente-container" th:each="paciente : ${pacientes}">

                <img class="imagen-paciente" th:src="${paciente.imagen}" alt="Imagen de paciente">
                <div id="datos-paciente">
                    <div class="row row-cols-2">
                                <span class="tipo-dato"><strong>Nombre:</strong> <span
                                        th:text="${paciente.nombre}"></span></span>

                    </div>
                    <span class="tipo-dato"><strong>Edad:</strong> <span
                            th:text="${paciente.edad}"></span></span>
                    <span class="tipo-dato"><strong>Enfermedad:</strong> <span
                            th:text="${paciente.enfermedad.nombre}"></span></span>
                    <button>Eliminar</button>
                </div>

            </div>
        </div>
        <div th:unless="${usuario.isAdmin()}">
            <div th:replace="fragments/infoPaciente :: infoPaciente"></div>
        </div>
    </div>
    <div th:unless="${usuarioLogeado}">
        <div th:replace="fragments/infoPaciente :: infoPaciente"></div>
    </div>


    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>